
@font-face {
  font-family: 'material-icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot);
  src: url(MaterialIcons-Regular.eot?#iefix) format('embedded-opentype'),
       url(MaterialIcons-Regular.woff2) format('woff2'),
       url(MaterialIcons-Regular.woff) format('woff'),
       url(MaterialIcons-Regular.ttf) format('truetype');
}

[class^='icon-material-'], [class*=' icon-material-'] {
	font-family: 'material-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-material-3d_rotation:before {
    content: '\e84d';
}
.icon-material-access_alarm:before {
    content: '\e190';
}
.icon-material-access_alarms:before {
    content: '\e191';
}
.icon-material-access_time:before {
    content: '\e192';
}
.icon-material-accessibility:before {
    content: '\e84e';
}
.icon-material-account_balance:before {
    content: '\e84f';
}
.icon-material-account_balance_wallet:before {
    content: '\e850';
}
.icon-material-account_box:before {
    content: '\e851';
}
.icon-material-account_circle:before {
    content: '\e853';
}
.icon-material-adb:before {
    content: '\e60e';
}
.icon-material-add:before {
    content: '\e145';
}
.icon-material-add_alarm:before {
    content: '\e193';
}
.icon-material-add_alert:before {
    content: '\e003';
}
.icon-material-add_box:before {
    content: '\e146';
}
.icon-material-add_circle:before {
    content: '\e147';
}
.icon-material-add_circle_outline:before {
    content: '\e148';
}
.icon-material-add_shopping_cart:before {
    content: '\e854';
}
.icon-material-add_to_photos:before {
    content: '\e39d';
}
.icon-material-adjust:before {
    content: '\e39e';
}
.icon-material-airline_seat_flat:before {
    content: '\e630';
}
.icon-material-airline_seat_flat_angled:before {
    content: '\e631';
}
.icon-material-airline_seat_individual_suite:before {
    content: '\e632';
}
.icon-material-airline_seat_legroom_extra:before {
    content: '\e633';
}
.icon-material-airline_seat_legroom_normal:before {
    content: '\e634';
}
.icon-material-airline_seat_legroom_reduced:before {
    content: '\e635';
}
.icon-material-airline_seat_recline_extra:before {
    content: '\e636';
}
.icon-material-airline_seat_recline_normal:before {
    content: '\e637';
}
.icon-material-airplanemode_active:before {
    content: '\e195';
}
.icon-material-airplanemode_inactive:before {
    content: '\e194';
}
.icon-material-airplay:before {
    content: '\e055';
}
.icon-material-alarm:before {
    content: '\e855';
}
.icon-material-alarm_add:before {
    content: '\e856';
}
.icon-material-alarm_off:before {
    content: '\e857';
}
.icon-material-alarm_on:before {
    content: '\e858';
}
.icon-material-album:before {
    content: '\e019';
}
.icon-material-android:before {
    content: '\e859';
}
.icon-material-announcement:before {
    content: '\e85a';
}
.icon-material-apps:before {
    content: '\e5c3';
}
.icon-material-archive:before {
    content: '\e149';
}
.icon-material-arrow_back:before {
    content: '\e5c4';
}
.icon-material-arrow_drop_down:before {
    content: '\e5c5';
}
.icon-material-arrow_drop_down_circle:before {
    content: '\e5c6';
}
.icon-material-arrow_drop_up:before {
    content: '\e5c7';
}
.icon-material-arrow_forward:before {
    content: '\e5c8';
}
.icon-material-aspect_ratio:before {
    content: '\e85b';
}
.icon-material-assessment:before {
    content: '\e85c';
}
.icon-material-assignment:before {
    content: '\e85d';
}
.icon-material-assignment_ind:before {
    content: '\e85e';
}
.icon-material-assignment_late:before {
    content: '\e85f';
}
.icon-material-assignment_return:before {
    content: '\e860';
}
.icon-material-assignment_returned:before {
    content: '\e861';
}
.icon-material-assignment_turned_in:before {
    content: '\e862';
}
.icon-material-assistant:before {
    content: '\e39f';
}
.icon-material-assistant_photo:before {
    content: '\e3a0';
}
.icon-material-attach_file:before {
    content: '\e226';
}
.icon-material-attach_money:before {
    content: '\e227';
}
.icon-material-attachment:before {
    content: '\e2bc';
}
.icon-material-audiotrack:before {
    content: '\e3a1';
}
.icon-material-autorenew:before {
    content: '\e863';
}
.icon-material-av_timer:before {
    content: '\e01b';
}
.icon-material-backspace:before {
    content: '\e14a';
}
.icon-material-backup:before {
    content: '\e864';
}
.icon-material-battery_alert:before {
    content: '\e19c';
}
.icon-material-battery_charging_full:before {
    content: '\e1a3';
}
.icon-material-battery_full:before {
    content: '\e1a4';
}
.icon-material-battery_std:before {
    content: '\e1a5';
}
.icon-material-battery_unknown:before {
    content: '\e1a6';
}
.icon-material-beenhere:before {
    content: '\e52d';
}
.icon-material-block:before {
    content: '\e14b';
}
.icon-material-bluetooth:before {
    content: '\e1a7';
}
.icon-material-bluetooth_audio:before {
    content: '\e60f';
}
.icon-material-bluetooth_connected:before {
    content: '\e1a8';
}
.icon-material-bluetooth_disabled:before {
    content: '\e1a9';
}
.icon-material-bluetooth_searching:before {
    content: '\e1aa';
}
.icon-material-blur_circular:before {
    content: '\e3a2';
}
.icon-material-blur_linear:before {
    content: '\e3a3';
}
.icon-material-blur_off:before {
    content: '\e3a4';
}
.icon-material-blur_on:before {
    content: '\e3a5';
}
.icon-material-book:before {
    content: '\e865';
}
.icon-material-bookmark:before {
    content: '\e866';
}
.icon-material-bookmark_border:before {
    content: '\e867';
}
.icon-material-border_all:before {
    content: '\e228';
}
.icon-material-border_bottom:before {
    content: '\e229';
}
.icon-material-border_clear:before {
    content: '\e22a';
}
.icon-material-border_color:before {
    content: '\e22b';
}
.icon-material-border_horizontal:before {
    content: '\e22c';
}
.icon-material-border_inner:before {
    content: '\e22d';
}
.icon-material-border_left:before {
    content: '\e22e';
}
.icon-material-border_outer:before {
    content: '\e22f';
}
.icon-material-border_right:before {
    content: '\e230';
}
.icon-material-border_style:before {
    content: '\e231';
}
.icon-material-border_top:before {
    content: '\e232';
}
.icon-material-border_vertical:before {
    content: '\e233';
}
.icon-material-brightness_1:before {
    content: '\e3a6';
}
.icon-material-brightness_2:before {
    content: '\e3a7';
}
.icon-material-brightness_3:before {
    content: '\e3a8';
}
.icon-material-brightness_4:before {
    content: '\e3a9';
}
.icon-material-brightness_5:before {
    content: '\e3aa';
}
.icon-material-brightness_6:before {
    content: '\e3ab';
}
.icon-material-brightness_7:before {
    content: '\e3ac';
}
.icon-material-brightness_auto:before {
    content: '\e1ab';
}
.icon-material-brightness_high:before {
    content: '\e1ac';
}
.icon-material-brightness_low:before {
    content: '\e1ad';
}
.icon-material-brightness_medium:before {
    content: '\e1ae';
}
.icon-material-broken_image:before {
    content: '\e3ad';
}
.icon-material-brush:before {
    content: '\e3ae';
}
.icon-material-bug_report:before {
    content: '\e868';
}
.icon-material-build:before {
    content: '\e869';
}
.icon-material-business:before {
    content: '\e0af';
}
.icon-material-cached:before {
    content: '\e86a';
}
.icon-material-cake:before {
    content: '\e7e9';
}
.icon-material-call:before {
    content: '\e0b0';
}
.icon-material-call_end:before {
    content: '\e0b1';
}
.icon-material-call_made:before {
    content: '\e0b2';
}
.icon-material-call_merge:before {
    content: '\e0b3';
}
.icon-material-call_missed:before {
    content: '\e0b4';
}
.icon-material-call_received:before {
    content: '\e0b5';
}
.icon-material-call_split:before {
    content: '\e0b6';
}
.icon-material-camera:before {
    content: '\e3af';
}
.icon-material-camera_alt:before {
    content: '\e3b0';
}
.icon-material-camera_enhance:before {
    content: '\e8fc';
}
.icon-material-camera_front:before {
    content: '\e3b1';
}
.icon-material-camera_rear:before {
    content: '\e3b2';
}
.icon-material-camera_roll:before {
    content: '\e3b3';
}
.icon-material-cancel:before {
    content: '\e5c9';
}
.icon-material-card_giftcard:before {
    content: '\e8f6';
}
.icon-material-card_membership:before {
    content: '\e8f7';
}
.icon-material-card_travel:before {
    content: '\e8f8';
}
.icon-material-cast:before {
    content: '\e307';
}
.icon-material-cast_connected:before {
    content: '\e308';
}
.icon-material-center_focus_strong:before {
    content: '\e3b4';
}
.icon-material-center_focus_weak:before {
    content: '\e3b5';
}
.icon-material-change_history:before {
    content: '\e86b';
}
.icon-material-chat:before {
    content: '\e0b7';
}
.icon-material-chat_bubble:before {
    content: '\e0ca';
}
.icon-material-chat_bubble_outline:before {
    content: '\e0cb';
}
.icon-material-check:before {
    content: '\e5ca';
}
.icon-material-check_box:before {
    content: '\e834';
}
.icon-material-check_box_outline_blank:before {
    content: '\e835';
}
.icon-material-check_circle:before {
    content: '\e86c';
}
.icon-material-chevron_left:before {
    content: '\e5cb';
}
.icon-material-chevron_right:before {
    content: '\e5cc';
}
.icon-material-chrome_reader_mode:before {
    content: '\e86d';
}
.icon-material-class:before {
    content: '\e86e';
}
.icon-material-clear:before {
    content: '\e14c';
}
.icon-material-clear_all:before {
    content: '\e0b8';
}
.icon-material-close:before {
    content: '\e5cd';
}
.icon-material-closed_caption:before {
    content: '\e01c';
}
.icon-material-cloud:before {
    content: '\e2bd';
}
.icon-material-cloud_circle:before {
    content: '\e2be';
}
.icon-material-cloud_done:before {
    content: '\e2bf';
}
.icon-material-cloud_download:before {
    content: '\e2c0';
}
.icon-material-cloud_off:before {
    content: '\e2c1';
}
.icon-material-cloud_queue:before {
    content: '\e2c2';
}
.icon-material-cloud_upload:before {
    content: '\e2c3';
}
.icon-material-code:before {
    content: '\e86f';
}
.icon-material-collections:before {
    content: '\e3b6';
}
.icon-material-collections_bookmark:before {
    content: '\e431';
}
.icon-material-color_lens:before {
    content: '\e3b7';
}
.icon-material-colorize:before {
    content: '\e3b8';
}
.icon-material-comment:before {
    content: '\e0b9';
}
.icon-material-compare:before {
    content: '\e3b9';
}
.icon-material-computer:before {
    content: '\e30a';
}
.icon-material-confirmation_number:before {
    content: '\e638';
}
.icon-material-contact_phone:before {
    content: '\e0cf';
}
.icon-material-contacts:before {
    content: '\e0ba';
}
.icon-material-content_copy:before {
    content: '\e14d';
}
.icon-material-content_cut:before {
    content: '\e14e';
}
.icon-material-content_paste:before {
    content: '\e14f';
}
.icon-material-control_point:before {
    content: '\e3ba';
}
.icon-material-control_point_duplicate:before {
    content: '\e3bb';
}
.icon-material-create:before {
    content: '\e150';
}
.icon-material-credit_card:before {
    content: '\e870';
}
.icon-material-crop:before {
    content: '\e3be';
}
.icon-material-crop_16_9:before {
    content: '\e3bc';
}
.icon-material-crop_3_2:before {
    content: '\e3bd';
}
.icon-material-crop_5_4:before {
    content: '\e3bf';
}
.icon-material-crop_7_5:before {
    content: '\e3c0';
}
.icon-material-crop_din:before {
    content: '\e3c1';
}
.icon-material-crop_free:before {
    content: '\e3c2';
}
.icon-material-crop_landscape:before {
    content: '\e3c3';
}
.icon-material-crop_original:before {
    content: '\e3c4';
}
.icon-material-crop_portrait:before {
    content: '\e3c5';
}
.icon-material-crop_square:before {
    content: '\e3c6';
}
.icon-material-dashboard:before {
    content: '\e871';
}
.icon-material-data_usage:before {
    content: '\e1af';
}
.icon-material-dehaze:before {
    content: '\e3c7';
}
.icon-material-delete:before {
    content: '\e872';
}
.icon-material-description:before {
    content: '\e873';
}
.icon-material-desktop_mac:before {
    content: '\e30b';
}
.icon-material-desktop_windows:before {
    content: '\e30c';
}
.icon-material-details:before {
    content: '\e3c8';
}
.icon-material-developer_board:before {
    content: '\e30d';
}
.icon-material-developer_mode:before {
    content: '\e1b0';
}
.icon-material-device_hub:before {
    content: '\e335';
}
.icon-material-devices:before {
    content: '\e1b1';
}
.icon-material-dialer_sip:before {
    content: '\e0bb';
}
.icon-material-dialpad:before {
    content: '\e0bc';
}
.icon-material-directions:before {
    content: '\e52e';
}
.icon-material-directions_bike:before {
    content: '\e52f';
}
.icon-material-directions_boat:before {
    content: '\e532';
}
.icon-material-directions_bus:before {
    content: '\e530';
}
.icon-material-directions_car:before {
    content: '\e531';
}
.icon-material-directions_railway:before {
    content: '\e534';
}
.icon-material-directions_run:before {
    content: '\e566';
}
.icon-material-directions_subway:before {
    content: '\e533';
}
.icon-material-directions_transit:before {
    content: '\e535';
}
.icon-material-directions_walk:before {
    content: '\e536';
}
.icon-material-disc_full:before {
    content: '\e610';
}
.icon-material-dns:before {
    content: '\e875';
}
.icon-material-do_not_disturb:before {
    content: '\e612';
}
.icon-material-do_not_disturb_alt:before {
    content: '\e611';
}
.icon-material-dock:before {
    content: '\e30e';
}
.icon-material-domain:before {
    content: '\e7ee';
}
.icon-material-done:before {
    content: '\e876';
}
.icon-material-done_all:before {
    content: '\e877';
}
.icon-material-drafts:before {
    content: '\e151';
}
.icon-material-drive_eta:before {
    content: '\e613';
}
.icon-material-dvr:before {
    content: '\e1b2';
}
.icon-material-edit:before {
    content: '\e3c9';
}
.icon-material-eject:before {
    content: '\e8fb';
}
.icon-material-email:before {
    content: '\e0be';
}
.icon-material-equalizer:before {
    content: '\e01d';
}
.icon-material-error:before {
    content: '\e000';
}
.icon-material-error_outline:before {
    content: '\e001';
}
.icon-material-event:before {
    content: '\e878';
}
.icon-material-event_available:before {
    content: '\e614';
}
.icon-material-event_busy:before {
    content: '\e615';
}
.icon-material-event_note:before {
    content: '\e616';
}
.icon-material-event_seat:before {
    content: '\e903';
}
.icon-material-exit_to_app:before {
    content: '\e879';
}
.icon-material-expand_less:before {
    content: '\e5ce';
}
.icon-material-expand_more:before {
    content: '\e5cf';
}
.icon-material-explicit:before {
    content: '\e01e';
}
.icon-material-explore:before {
    content: '\e87a';
}
.icon-material-exposure:before {
    content: '\e3ca';
}
.icon-material-exposure_neg_1:before {
    content: '\e3cb';
}
.icon-material-exposure_neg_2:before {
    content: '\e3cc';
}
.icon-material-exposure_plus_1:before {
    content: '\e3cd';
}
.icon-material-exposure_plus_2:before {
    content: '\e3ce';
}
.icon-material-exposure_zero:before {
    content: '\e3cf';
}
.icon-material-extension:before {
    content: '\e87b';
}
.icon-material-face:before {
    content: '\e87c';
}
.icon-material-fast_forward:before {
    content: '\e01f';
}
.icon-material-fast_rewind:before {
    content: '\e020';
}
.icon-material-favorite:before {
    content: '\e87d';
}
.icon-material-favorite_border:before {
    content: '\e87e';
}
.icon-material-feedback:before {
    content: '\e87f';
}
.icon-material-file_download:before {
    content: '\e2c4';
}
.icon-material-file_upload:before {
    content: '\e2c6';
}
.icon-material-filter:before {
    content: '\e3d3';
}
.icon-material-filter_1:before {
    content: '\e3d0';
}
.icon-material-filter_2:before {
    content: '\e3d1';
}
.icon-material-filter_3:before {
    content: '\e3d2';
}
.icon-material-filter_4:before {
    content: '\e3d4';
}
.icon-material-filter_5:before {
    content: '\e3d5';
}
.icon-material-filter_6:before {
    content: '\e3d6';
}
.icon-material-filter_7:before {
    content: '\e3d7';
}
.icon-material-filter_8:before {
    content: '\e3d8';
}
.icon-material-filter_9:before {
    content: '\e3d9';
}
.icon-material-filter_9_plus:before {
    content: '\e3da';
}
.icon-material-filter_b_and_w:before {
    content: '\e3db';
}
.icon-material-filter_center_focus:before {
    content: '\e3dc';
}
.icon-material-filter_drama:before {
    content: '\e3dd';
}
.icon-material-filter_frames:before {
    content: '\e3de';
}
.icon-material-filter_hdr:before {
    content: '\e3df';
}
.icon-material-filter_list:before {
    content: '\e152';
}
.icon-material-filter_none:before {
    content: '\e3e0';
}
.icon-material-filter_tilt_shift:before {
    content: '\e3e2';
}
.icon-material-filter_vintage:before {
    content: '\e3e3';
}
.icon-material-find_in_page:before {
    content: '\e880';
}
.icon-material-find_replace:before {
    content: '\e881';
}
.icon-material-flag:before {
    content: '\e153';
}
.icon-material-flare:before {
    content: '\e3e4';
}
.icon-material-flash_auto:before {
    content: '\e3e5';
}
.icon-material-flash_off:before {
    content: '\e3e6';
}
.icon-material-flash_on:before {
    content: '\e3e7';
}
.icon-material-flight:before {
    content: '\e539';
}
.icon-material-flight_land:before {
    content: '\e904';
}
.icon-material-flight_takeoff:before {
    content: '\e905';
}
.icon-material-flip:before {
    content: '\e3e8';
}
.icon-material-flip_to_back:before {
    content: '\e882';
}
.icon-material-flip_to_front:before {
    content: '\e883';
}
.icon-material-folder:before {
    content: '\e2c7';
}
.icon-material-folder_open:before {
    content: '\e2c8';
}
.icon-material-folder_shared:before {
    content: '\e2c9';
}
.icon-material-folder_special:before {
    content: '\e617';
}
.icon-material-font_download:before {
    content: '\e167';
}
.icon-material-format_align_center:before {
    content: '\e234';
}
.icon-material-format_align_justify:before {
    content: '\e235';
}
.icon-material-format_align_left:before {
    content: '\e236';
}
.icon-material-format_align_right:before {
    content: '\e237';
}
.icon-material-format_bold:before {
    content: '\e238';
}
.icon-material-format_clear:before {
    content: '\e239';
}
.icon-material-format_color_fill:before {
    content: '\e23a';
}
.icon-material-format_color_reset:before {
    content: '\e23b';
}
.icon-material-format_color_text:before {
    content: '\e23c';
}
.icon-material-format_indent_decrease:before {
    content: '\e23d';
}
.icon-material-format_indent_increase:before {
    content: '\e23e';
}
.icon-material-format_italic:before {
    content: '\e23f';
}
.icon-material-format_line_spacing:before {
    content: '\e240';
}
.icon-material-format_list_bulleted:before {
    content: '\e241';
}
.icon-material-format_list_numbered:before {
    content: '\e242';
}
.icon-material-format_paint:before {
    content: '\e243';
}
.icon-material-format_quote:before {
    content: '\e244';
}
.icon-material-format_size:before {
    content: '\e245';
}
.icon-material-format_strikethrough:before {
    content: '\e246';
}
.icon-material-format_textdirection_l_to_r:before {
    content: '\e247';
}
.icon-material-format_textdirection_r_to_l:before {
    content: '\e248';
}
.icon-material-format_underlined:before {
    content: '\e249';
}
.icon-material-forum:before {
    content: '\e0bf';
}
.icon-material-forward:before {
    content: '\e154';
}
.icon-material-forward_10:before {
    content: '\e056';
}
.icon-material-forward_30:before {
    content: '\e057';
}
.icon-material-forward_5:before {
    content: '\e058';
}
.icon-material-fullscreen:before {
    content: '\e5d0';
}
.icon-material-fullscreen_exit:before {
    content: '\e5d1';
}
.icon-material-functions:before {
    content: '\e24a';
}
.icon-material-gamepad:before {
    content: '\e30f';
}
.icon-material-games:before {
    content: '\e021';
}
.icon-material-gesture:before {
    content: '\e155';
}
.icon-material-get_app:before {
    content: '\e884';
}
.icon-material-gif:before {
    content: '\e908';
}
.icon-material-gps_fixed:before {
    content: '\e1b3';
}
.icon-material-gps_not_fixed:before {
    content: '\e1b4';
}
.icon-material-gps_off:before {
    content: '\e1b5';
}
.icon-material-grade:before {
    content: '\e885';
}
.icon-material-gradient:before {
    content: '\e3e9';
}
.icon-material-grain:before {
    content: '\e3ea';
}
.icon-material-graphic_eq:before {
    content: '\e1b8';
}
.icon-material-grid_off:before {
    content: '\e3eb';
}
.icon-material-grid_on:before {
    content: '\e3ec';
}
.icon-material-group:before {
    content: '\e7ef';
}
.icon-material-group_add:before {
    content: '\e7f0';
}
.icon-material-group_work:before {
    content: '\e886';
}
.icon-material-hd:before {
    content: '\e052';
}
.icon-material-hdr_off:before {
    content: '\e3ed';
}
.icon-material-hdr_on:before {
    content: '\e3ee';
}
.icon-material-hdr_strong:before {
    content: '\e3f1';
}
.icon-material-hdr_weak:before {
    content: '\e3f2';
}
.icon-material-headset:before {
    content: '\e310';
}
.icon-material-headset_mic:before {
    content: '\e311';
}
.icon-material-healing:before {
    content: '\e3f3';
}
.icon-material-hearing:before {
    content: '\e023';
}
.icon-material-help:before {
    content: '\e887';
}
.icon-material-help_outline:before {
    content: '\e8fd';
}
.icon-material-high_quality:before {
    content: '\e024';
}
.icon-material-highlight_off:before {
    content: '\e888';
}
.icon-material-history:before {
    content: '\e889';
}
.icon-material-home:before {
    content: '\e88a';
}
.icon-material-hotel:before {
    content: '\e53a';
}
.icon-material-hourglass_empty:before {
    content: '\e88b';
}
.icon-material-hourglass_full:before {
    content: '\e88c';
}
.icon-material-http:before {
    content: '\e902';
}
.icon-material-https:before {
    content: '\e88d';
}
.icon-material-image:before {
    content: '\e3f4';
}
.icon-material-image_aspect_ratio:before {
    content: '\e3f5';
}
.icon-material-import_export:before {
    content: '\e0c3';
}
.icon-material-inbox:before {
    content: '\e156';
}
.icon-material-indeterminate_check_box:before {
    content: '\e909';
}
.icon-material-info:before {
    content: '\e88e';
}
.icon-material-info_outline:before {
    content: '\e88f';
}
.icon-material-input:before {
    content: '\e890';
}
.icon-material-insert_chart:before {
    content: '\e24b';
}
.icon-material-insert_comment:before {
    content: '\e24c';
}
.icon-material-insert_drive_file:before {
    content: '\e24d';
}
.icon-material-insert_emoticon:before {
    content: '\e24e';
}
.icon-material-insert_invitation:before {
    content: '\e24f';
}
.icon-material-insert_link:before {
    content: '\e250';
}
.icon-material-insert_photo:before {
    content: '\e251';
}
.icon-material-invert_colors:before {
    content: '\e891';
}
.icon-material-invert_colors_off:before {
    content: '\e0c4';
}
.icon-material-iso:before {
    content: '\e3f6';
}
.icon-material-keyboard:before {
    content: '\e312';
}
.icon-material-keyboard_arrow_down:before {
    content: '\e313';
}
.icon-material-keyboard_arrow_left:before {
    content: '\e314';
}
.icon-material-keyboard_arrow_right:before {
    content: '\e315';
}
.icon-material-keyboard_arrow_up:before {
    content: '\e316';
}
.icon-material-keyboard_backspace:before {
    content: '\e317';
}
.icon-material-keyboard_capslock:before {
    content: '\e318';
}
.icon-material-keyboard_hide:before {
    content: '\e31a';
}
.icon-material-keyboard_return:before {
    content: '\e31b';
}
.icon-material-keyboard_tab:before {
    content: '\e31c';
}
.icon-material-keyboard_voice:before {
    content: '\e31d';
}
.icon-material-label:before {
    content: '\e892';
}
.icon-material-label_outline:before {
    content: '\e893';
}
.icon-material-landscape:before {
    content: '\e3f7';
}
.icon-material-language:before {
    content: '\e894';
}
.icon-material-laptop:before {
    content: '\e31e';
}
.icon-material-laptop_chromebook:before {
    content: '\e31f';
}
.icon-material-laptop_mac:before {
    content: '\e320';
}
.icon-material-laptop_windows:before {
    content: '\e321';
}
.icon-material-launch:before {
    content: '\e895';
}
.icon-material-layers:before {
    content: '\e53b';
}
.icon-material-layers_clear:before {
    content: '\e53c';
}
.icon-material-leak_add:before {
    content: '\e3f8';
}
.icon-material-leak_remove:before {
    content: '\e3f9';
}
.icon-material-lens:before {
    content: '\e3fa';
}
.icon-material-library_add:before {
    content: '\e02e';
}
.icon-material-library_books:before {
    content: '\e02f';
}
.icon-material-library_music:before {
    content: '\e030';
}
.icon-material-link:before {
    content: '\e157';
}
.icon-material-list:before {
    content: '\e896';
}
.icon-material-live_help:before {
    content: '\e0c6';
}
.icon-material-live_tv:before {
    content: '\e639';
}
.icon-material-local_activity:before {
    content: '\e53f';
}
.icon-material-local_airport:before {
    content: '\e53d';
}
.icon-material-local_atm:before {
    content: '\e53e';
}
.icon-material-local_bar:before {
    content: '\e540';
}
.icon-material-local_cafe:before {
    content: '\e541';
}
.icon-material-local_car_wash:before {
    content: '\e542';
}
.icon-material-local_convenience_store:before {
    content: '\e543';
}
.icon-material-local_dining:before {
    content: '\e556';
}
.icon-material-local_drink:before {
    content: '\e544';
}
.icon-material-local_florist:before {
    content: '\e545';
}
.icon-material-local_gas_station:before {
    content: '\e546';
}
.icon-material-local_grocery_store:before {
    content: '\e547';
}
.icon-material-local_hospital:before {
    content: '\e548';
}
.icon-material-local_hotel:before {
    content: '\e549';
}
.icon-material-local_laundry_service:before {
    content: '\e54a';
}
.icon-material-local_library:before {
    content: '\e54b';
}
.icon-material-local_mall:before {
    content: '\e54c';
}
.icon-material-local_movies:before {
    content: '\e54d';
}
.icon-material-local_offer:before {
    content: '\e54e';
}
.icon-material-local_parking:before {
    content: '\e54f';
}
.icon-material-local_pharmacy:before {
    content: '\e550';
}
.icon-material-local_phone:before {
    content: '\e551';
}
.icon-material-local_pizza:before {
    content: '\e552';
}
.icon-material-local_play:before {
    content: '\e553';
}
.icon-material-local_post_office:before {
    content: '\e554';
}
.icon-material-local_printshop:before {
    content: '\e555';
}
.icon-material-local_see:before {
    content: '\e557';
}
.icon-material-local_shipping:before {
    content: '\e558';
}
.icon-material-local_taxi:before {
    content: '\e559';
}
.icon-material-location_city:before {
    content: '\e7f1';
}
.icon-material-location_disabled:before {
    content: '\e1b6';
}
.icon-material-location_off:before {
    content: '\e0c7';
}
.icon-material-location_on:before {
    content: '\e0c8';
}
.icon-material-location_searching:before {
    content: '\e1b7';
}
.icon-material-lock:before {
    content: '\e897';
}
.icon-material-lock_open:before {
    content: '\e898';
}
.icon-material-lock_outline:before {
    content: '\e899';
}
.icon-material-looks:before {
    content: '\e3fc';
}
.icon-material-looks_3:before {
    content: '\e3fb';
}
.icon-material-looks_4:before {
    content: '\e3fd';
}
.icon-material-looks_5:before {
    content: '\e3fe';
}
.icon-material-looks_6:before {
    content: '\e3ff';
}
.icon-material-looks_one:before {
    content: '\e400';
}
.icon-material-looks_two:before {
    content: '\e401';
}
.icon-material-loop:before {
    content: '\e028';
}
.icon-material-loupe:before {
    content: '\e402';
}
.icon-material-loyalty:before {
    content: '\e89a';
}
.icon-material-mail:before {
    content: '\e158';
}
.icon-material-map:before {
    content: '\e55b';
}
.icon-material-markunread:before {
    content: '\e159';
}
.icon-material-markunread_mailbox:before {
    content: '\e89b';
}
.icon-material-memory:before {
    content: '\e322';
}
.icon-material-menu:before {
    content: '\e5d2';
}
.icon-material-merge_type:before {
    content: '\e252';
}
.icon-material-message:before {
    content: '\e0c9';
}
.icon-material-mic:before {
    content: '\e029';
}
.icon-material-mic_none:before {
    content: '\e02a';
}
.icon-material-mic_off:before {
    content: '\e02b';
}
.icon-material-mms:before {
    content: '\e618';
}
.icon-material-mode_comment:before {
    content: '\e253';
}
.icon-material-mode_edit:before {
    content: '\e254';
}
.icon-material-money_off:before {
    content: '\e25c';
}
.icon-material-monochrome_photos:before {
    content: '\e403';
}
.icon-material-mood:before {
    content: '\e7f2';
}
.icon-material-mood_bad:before {
    content: '\e7f3';
}
.icon-material-more:before {
    content: '\e619';
}
.icon-material-more_horiz:before {
    content: '\e5d3';
}
.icon-material-more_vert:before {
    content: '\e5d4';
}
.icon-material-mouse:before {
    content: '\e323';
}
.icon-material-movie:before {
    content: '\e02c';
}
.icon-material-movie_creation:before {
    content: '\e404';
}
.icon-material-music_note:before {
    content: '\e405';
}
.icon-material-my_location:before {
    content: '\e55c';
}
.icon-material-nature:before {
    content: '\e406';
}
.icon-material-nature_people:before {
    content: '\e407';
}
.icon-material-navigate_before:before {
    content: '\e408';
}
.icon-material-navigate_next:before {
    content: '\e409';
}
.icon-material-navigation:before {
    content: '\e55d';
}
.icon-material-network_cell:before {
    content: '\e1b9';
}
.icon-material-network_locked:before {
    content: '\e61a';
}
.icon-material-network_wifi:before {
    content: '\e1ba';
}
.icon-material-new_releases:before {
    content: '\e031';
}
.icon-material-nfc:before {
    content: '\e1bb';
}
.icon-material-no_sim:before {
    content: '\e0cc';
}
.icon-material-not_interested:before {
    content: '\e033';
}
.icon-material-note_add:before {
    content: '\e89c';
}
.icon-material-notifications:before {
    content: '\e7f4';
}
.icon-material-notifications_active:before {
    content: '\e7f7';
}
.icon-material-notifications_none:before {
    content: '\e7f5';
}
.icon-material-notifications_off:before {
    content: '\e7f6';
}
.icon-material-notifications_paused:before {
    content: '\e7f8';
}
.icon-material-offline_pin:before {
    content: '\e90a';
}
.icon-material-ondemand_video:before {
    content: '\e63a';
}
.icon-material-open_in_browser:before {
    content: '\e89d';
}
.icon-material-open_in_new:before {
    content: '\e89e';
}
.icon-material-open_with:before {
    content: '\e89f';
}
.icon-material-pages:before {
    content: '\e7f9';
}
.icon-material-pageview:before {
    content: '\e8a0';
}
.icon-material-palette:before {
    content: '\e40a';
}
.icon-material-panorama:before {
    content: '\e40b';
}
.icon-material-panorama_fish_eye:before {
    content: '\e40c';
}
.icon-material-panorama_horizontal:before {
    content: '\e40d';
}
.icon-material-panorama_vertical:before {
    content: '\e40e';
}
.icon-material-panorama_wide_angle:before {
    content: '\e40f';
}
.icon-material-party_mode:before {
    content: '\e7fa';
}
.icon-material-pause:before {
    content: '\e034';
}
.icon-material-pause_circle_filled:before {
    content: '\e035';
}
.icon-material-pause_circle_outline:before {
    content: '\e036';
}
.icon-material-payment:before {
    content: '\e8a1';
}
.icon-material-people:before {
    content: '\e7fb';
}
.icon-material-people_outline:before {
    content: '\e7fc';
}
.icon-material-perm_camera_mic:before {
    content: '\e8a2';
}
.icon-material-perm_contact_calendar:before {
    content: '\e8a3';
}
.icon-material-perm_data_setting:before {
    content: '\e8a4';
}
.icon-material-perm_device_information:before {
    content: '\e8a5';
}
.icon-material-perm_identity:before {
    content: '\e8a6';
}
.icon-material-perm_media:before {
    content: '\e8a7';
}
.icon-material-perm_phone_msg:before {
    content: '\e8a8';
}
.icon-material-perm_scan_wifi:before {
    content: '\e8a9';
}
.icon-material-person:before {
    content: '\e7fd';
}
.icon-material-person_add:before {
    content: '\e7fe';
}
.icon-material-person_outline:before {
    content: '\e7ff';
}
.icon-material-person_pin:before {
    content: '\e55a';
}
.icon-material-personal_video:before {
    content: '\e63b';
}
.icon-material-phone:before {
    content: '\e0cd';
}
.icon-material-phone_android:before {
    content: '\e324';
}
.icon-material-phone_bluetooth_speaker:before {
    content: '\e61b';
}
.icon-material-phone_forwarded:before {
    content: '\e61c';
}
.icon-material-phone_in_talk:before {
    content: '\e61d';
}
.icon-material-phone_iphone:before {
    content: '\e325';
}
.icon-material-phone_locked:before {
    content: '\e61e';
}
.icon-material-phone_missed:before {
    content: '\e61f';
}
.icon-material-phone_paused:before {
    content: '\e620';
}
.icon-material-phonelink:before {
    content: '\e326';
}
.icon-material-phonelink_erase:before {
    content: '\e0db';
}
.icon-material-phonelink_lock:before {
    content: '\e0dc';
}
.icon-material-phonelink_off:before {
    content: '\e327';
}
.icon-material-phonelink_ring:before {
    content: '\e0dd';
}
.icon-material-phonelink_setup:before {
    content: '\e0de';
}
.icon-material-photo:before {
    content: '\e410';
}
.icon-material-photo_album:before {
    content: '\e411';
}
.icon-material-photo_camera:before {
    content: '\e412';
}
.icon-material-photo_library:before {
    content: '\e413';
}
.icon-material-photo_size_select_actual:before {
    content: '\e432';
}
.icon-material-photo_size_select_large:before {
    content: '\e433';
}
.icon-material-photo_size_select_small:before {
    content: '\e434';
}
.icon-material-picture_as_pdf:before {
    content: '\e415';
}
.icon-material-picture_in_picture:before {
    content: '\e8aa';
}
.icon-material-pin_drop:before {
    content: '\e55e';
}
.icon-material-place:before {
    content: '\e55f';
}
.icon-material-play_arrow:before {
    content: '\e037';
}
.icon-material-play_circle_filled:before {
    content: '\e038';
}
.icon-material-play_circle_outline:before {
    content: '\e039';
}
.icon-material-play_for_work:before {
    content: '\e906';
}
.icon-material-playlist_add:before {
    content: '\e03b';
}
.icon-material-plus_one:before {
    content: '\e800';
}
.icon-material-poll:before {
    content: '\e801';
}
.icon-material-polymer:before {
    content: '\e8ab';
}
.icon-material-portable_wifi_off:before {
    content: '\e0ce';
}
.icon-material-portrait:before {
    content: '\e416';
}
.icon-material-power:before {
    content: '\e63c';
}
.icon-material-power_input:before {
    content: '\e336';
}
.icon-material-power_settings_new:before {
    content: '\e8ac';
}
.icon-material-present_to_all:before {
    content: '\e0df';
}
.icon-material-print:before {
    content: '\e8ad';
}
.icon-material-public:before {
    content: '\e80b';
}
.icon-material-publish:before {
    content: '\e255';
}
.icon-material-query_builder:before {
    content: '\e8ae';
}
.icon-material-question_answer:before {
    content: '\e8af';
}
.icon-material-queue:before {
    content: '\e03c';
}
.icon-material-queue_music:before {
    content: '\e03d';
}
.icon-material-radio:before {
    content: '\e03e';
}
.icon-material-radio_button_checked:before {
    content: '\e837';
}
.icon-material-radio_button_unchecked:before {
    content: '\e836';
}
.icon-material-rate_review:before {
    content: '\e560';
}
.icon-material-receipt:before {
    content: '\e8b0';
}
.icon-material-recent_actors:before {
    content: '\e03f';
}
.icon-material-redeem:before {
    content: '\e8b1';
}
.icon-material-redo:before {
    content: '\e15a';
}
.icon-material-refresh:before {
    content: '\e5d5';
}
.icon-material-remove:before {
    content: '\e15b';
}
.icon-material-remove_circle:before {
    content: '\e15c';
}
.icon-material-remove_circle_outline:before {
    content: '\e15d';
}
.icon-material-remove_red_eye:before {
    content: '\e417';
}
.icon-material-reorder:before {
    content: '\e8fe';
}
.icon-material-repeat:before {
    content: '\e040';
}
.icon-material-repeat_one:before {
    content: '\e041';
}
.icon-material-replay:before {
    content: '\e042';
}
.icon-material-replay_10:before {
    content: '\e059';
}
.icon-material-replay_30:before {
    content: '\e05a';
}
.icon-material-replay_5:before {
    content: '\e05b';
}
.icon-material-reply:before {
    content: '\e15e';
}
.icon-material-reply_all:before {
    content: '\e15f';
}
.icon-material-report:before {
    content: '\e160';
}
.icon-material-report_problem:before {
    content: '\e8b2';
}
.icon-material-restaurant_menu:before {
    content: '\e561';
}
.icon-material-restore:before {
    content: '\e8b3';
}
.icon-material-ring_volume:before {
    content: '\e0d1';
}
.icon-material-room:before {
    content: '\e8b4';
}
.icon-material-rotate_90_degrees_ccw:before {
    content: '\e418';
}
.icon-material-rotate_left:before {
    content: '\e419';
}
.icon-material-rotate_right:before {
    content: '\e41a';
}
.icon-material-router:before {
    content: '\e328';
}
.icon-material-satellite:before {
    content: '\e562';
}
.icon-material-save:before {
    content: '\e161';
}
.icon-material-scanner:before {
    content: '\e329';
}
.icon-material-schedule:before {
    content: '\e8b5';
}
.icon-material-school:before {
    content: '\e80c';
}
.icon-material-screen_lock_landscape:before {
    content: '\e1be';
}
.icon-material-screen_lock_portrait:before {
    content: '\e1bf';
}
.icon-material-screen_lock_rotation:before {
    content: '\e1c0';
}
.icon-material-screen_rotation:before {
    content: '\e1c1';
}
.icon-material-sd_card:before {
    content: '\e623';
}
.icon-material-sd_storage:before {
    content: '\e1c2';
}
.icon-material-search:before {
    content: '\e8b6';
}
.icon-material-security:before {
    content: '\e32a';
}
.icon-material-select_all:before {
    content: '\e162';
}
.icon-material-send:before {
    content: '\e163';
}
.icon-material-settings:before {
    content: '\e8b8';
}
.icon-material-settings_applications:before {
    content: '\e8b9';
}
.icon-material-settings_backup_restore:before {
    content: '\e8ba';
}
.icon-material-settings_bluetooth:before {
    content: '\e8bb';
}
.icon-material-settings_brightness:before {
    content: '\e8bd';
}
.icon-material-settings_cell:before {
    content: '\e8bc';
}
.icon-material-settings_ethernet:before {
    content: '\e8be';
}
.icon-material-settings_input_antenna:before {
    content: '\e8bf';
}
.icon-material-settings_input_component:before {
    content: '\e8c0';
}
.icon-material-settings_input_composite:before {
    content: '\e8c1';
}
.icon-material-settings_input_hdmi:before {
    content: '\e8c2';
}
.icon-material-settings_input_svideo:before {
    content: '\e8c3';
}
.icon-material-settings_overscan:before {
    content: '\e8c4';
}
.icon-material-settings_phone:before {
    content: '\e8c5';
}
.icon-material-settings_power:before {
    content: '\e8c6';
}
.icon-material-settings_remote:before {
    content: '\e8c7';
}
.icon-material-settings_system_daydream:before {
    content: '\e1c3';
}
.icon-material-settings_voice:before {
    content: '\e8c8';
}
.icon-material-share:before {
    content: '\e80d';
}
.icon-material-shop:before {
    content: '\e8c9';
}
.icon-material-shop_two:before {
    content: '\e8ca';
}
.icon-material-shopping_basket:before {
    content: '\e8cb';
}
.icon-material-shopping_cart:before {
    content: '\e8cc';
}
.icon-material-shuffle:before {
    content: '\e043';
}
.icon-material-signal_cellular_4_bar:before {
    content: '\e1c8';
}
.icon-material-signal_cellular_connected_no_internet_4_bar:before {
    content: '\e1cd';
}
.icon-material-signal_cellular_no_sim:before {
    content: '\e1ce';
}
.icon-material-signal_cellular_null:before {
    content: '\e1cf';
}
.icon-material-signal_cellular_off:before {
    content: '\e1d0';
}
.icon-material-signal_wifi_4_bar:before {
    content: '\e1d8';
}
.icon-material-signal_wifi_4_bar_lock:before {
    content: '\e1d9';
}
.icon-material-signal_wifi_off:before {
    content: '\e1da';
}
.icon-material-sim_card:before {
    content: '\e32b';
}
.icon-material-sim_card_alert:before {
    content: '\e624';
}
.icon-material-skip_next:before {
    content: '\e044';
}
.icon-material-skip_previous:before {
    content: '\e045';
}
.icon-material-slideshow:before {
    content: '\e41b';
}
.icon-material-smartphone:before {
    content: '\e32c';
}
.icon-material-sms:before {
    content: '\e625';
}
.icon-material-sms_failed:before {
    content: '\e626';
}
.icon-material-snooze:before {
    content: '\e046';
}
.icon-material-sort:before {
    content: '\e164';
}
.icon-material-sort_by_alpha:before {
    content: '\e053';
}
.icon-material-space_bar:before {
    content: '\e256';
}
.icon-material-speaker:before {
    content: '\e32d';
}
.icon-material-speaker_group:before {
    content: '\e32e';
}
.icon-material-speaker_notes:before {
    content: '\e8cd';
}
.icon-material-speaker_phone:before {
    content: '\e0d2';
}
.icon-material-spellcheck:before {
    content: '\e8ce';
}
.icon-material-star:before {
    content: '\e838';
}
.icon-material-star_border:before {
    content: '\e83a';
}
.icon-material-star_half:before {
    content: '\e839';
}
.icon-material-stars:before {
    content: '\e8d0';
}
.icon-material-stay_current_landscape:before {
    content: '\e0d3';
}
.icon-material-stay_current_portrait:before {
    content: '\e0d4';
}
.icon-material-stay_primary_landscape:before {
    content: '\e0d5';
}
.icon-material-stay_primary_portrait:before {
    content: '\e0d6';
}
.icon-material-stop:before {
    content: '\e047';
}
.icon-material-storage:before {
    content: '\e1db';
}
.icon-material-store:before {
    content: '\e8d1';
}
.icon-material-store_mall_directory:before {
    content: '\e563';
}
.icon-material-straighten:before {
    content: '\e41c';
}
.icon-material-strikethrough_s:before {
    content: '\e257';
}
.icon-material-style:before {
    content: '\e41d';
}
.icon-material-subject:before {
    content: '\e8d2';
}
.icon-material-subtitles:before {
    content: '\e048';
}
.icon-material-supervisor_account:before {
    content: '\e8d3';
}
.icon-material-surround_sound:before {
    content: '\e049';
}
.icon-material-swap_calls:before {
    content: '\e0d7';
}
.icon-material-swap_horiz:before {
    content: '\e8d4';
}
.icon-material-swap_vert:before {
    content: '\e8d5';
}
.icon-material-swap_vertical_circle:before {
    content: '\e8d6';
}
.icon-material-switch_camera:before {
    content: '\e41e';
}
.icon-material-switch_video:before {
    content: '\e41f';
}
.icon-material-sync:before {
    content: '\e627';
}
.icon-material-sync_disabled:before {
    content: '\e628';
}
.icon-material-sync_problem:before {
    content: '\e629';
}
.icon-material-system_update:before {
    content: '\e62a';
}
.icon-material-system_update_alt:before {
    content: '\e8d7';
}
.icon-material-tab:before {
    content: '\e8d8';
}
.icon-material-tab_unselected:before {
    content: '\e8d9';
}
.icon-material-tablet:before {
    content: '\e32f';
}
.icon-material-tablet_android:before {
    content: '\e330';
}
.icon-material-tablet_mac:before {
    content: '\e331';
}
.icon-material-tag_faces:before {
    content: '\e420';
}
.icon-material-tap_and_play:before {
    content: '\e62b';
}
.icon-material-terrain:before {
    content: '\e564';
}
.icon-material-text_format:before {
    content: '\e165';
}
.icon-material-textsms:before {
    content: '\e0d8';
}
.icon-material-texture:before {
    content: '\e421';
}
.icon-material-theaters:before {
    content: '\e8da';
}
.icon-material-thumb_down:before {
    content: '\e8db';
}
.icon-material-thumb_up:before {
    content: '\e8dc';
}
.icon-material-thumbs_up_down:before {
    content: '\e8dd';
}
.icon-material-time_to_leave:before {
    content: '\e62c';
}
.icon-material-timelapse:before {
    content: '\e422';
}
.icon-material-timer:before {
    content: '\e425';
}
.icon-material-timer_10:before {
    content: '\e423';
}
.icon-material-timer_3:before {
    content: '\e424';
}
.icon-material-timer_off:before {
    content: '\e426';
}
.icon-material-toc:before {
    content: '\e8de';
}
.icon-material-today:before {
    content: '\e8df';
}
.icon-material-toll:before {
    content: '\e8e0';
}
.icon-material-tonality:before {
    content: '\e427';
}
.icon-material-toys:before {
    content: '\e332';
}
.icon-material-track_changes:before {
    content: '\e8e1';
}
.icon-material-traffic:before {
    content: '\e565';
}
.icon-material-transform:before {
    content: '\e428';
}
.icon-material-translate:before {
    content: '\e8e2';
}
.icon-material-trending_down:before {
    content: '\e8e3';
}
.icon-material-trending_flat:before {
    content: '\e8e4';
}
.icon-material-trending_up:before {
    content: '\e8e5';
}
.icon-material-tune:before {
    content: '\e429';
}
.icon-material-turned_in:before {
    content: '\e8e6';
}
.icon-material-turned_in_not:before {
    content: '\e8e7';
}
.icon-material-tv:before {
    content: '\e333';
}
.icon-material-undo:before {
    content: '\e166';
}
.icon-material-unfold_less:before {
    content: '\e5d6';
}
.icon-material-unfold_more:before {
    content: '\e5d7';
}
.icon-material-usb:before {
    content: '\e1e0';
}
.icon-material-verified_user:before {
    content: '\e8e8';
}
.icon-material-vertical_align_bottom:before {
    content: '\e258';
}
.icon-material-vertical_align_center:before {
    content: '\e259';
}
.icon-material-vertical_align_top:before {
    content: '\e25a';
}
.icon-material-vibration:before {
    content: '\e62d';
}
.icon-material-video_library:before {
    content: '\e04a';
}
.icon-material-videocam:before {
    content: '\e04b';
}
.icon-material-videocam_off:before {
    content: '\e04c';
}
.icon-material-view_agenda:before {
    content: '\e8e9';
}
.icon-material-view_array:before {
    content: '\e8ea';
}
.icon-material-view_carousel:before {
    content: '\e8eb';
}
.icon-material-view_column:before {
    content: '\e8ec';
}
.icon-material-view_comfy:before {
    content: '\e42a';
}
.icon-material-view_compact:before {
    content: '\e42b';
}
.icon-material-view_day:before {
    content: '\e8ed';
}
.icon-material-view_headline:before {
    content: '\e8ee';
}
.icon-material-view_list:before {
    content: '\e8ef';
}
.icon-material-view_module:before {
    content: '\e8f0';
}
.icon-material-view_quilt:before {
    content: '\e8f1';
}
.icon-material-view_stream:before {
    content: '\e8f2';
}
.icon-material-view_week:before {
    content: '\e8f3';
}
.icon-material-vignette:before {
    content: '\e435';
}
.icon-material-visibility:before {
    content: '\e8f4';
}
.icon-material-visibility_off:before {
    content: '\e8f5';
}
.icon-material-voice_chat:before {
    content: '\e62e';
}
.icon-material-voicemail:before {
    content: '\e0d9';
}
.icon-material-volume_down:before {
    content: '\e04d';
}
.icon-material-volume_mute:before {
    content: '\e04e';
}
.icon-material-volume_off:before {
    content: '\e04f';
}
.icon-material-volume_up:before {
    content: '\e050';
}
.icon-material-vpn_key:before {
    content: '\e0da';
}
.icon-material-vpn_lock:before {
    content: '\e62f';
}
.icon-material-wallpaper:before {
    content: '\e1bc';
}
.icon-material-warning:before {
    content: '\e002';
}
.icon-material-watch:before {
    content: '\e334';
}
.icon-material-wb_auto:before {
    content: '\e42c';
}
.icon-material-wb_cloudy:before {
    content: '\e42d';
}
.icon-material-wb_incandescent:before {
    content: '\e42e';
}
.icon-material-wb_iridescent:before {
    content: '\e436';
}
.icon-material-wb_sunny:before {
    content: '\e430';
}
.icon-material-wc:before {
    content: '\e63d';
}
.icon-material-web:before {
    content: '\e051';
}
.icon-material-whatshot:before {
    content: '\e80e';
}
.icon-material-widgets:before {
    content: '\e1bd';
}
.icon-material-wifi:before {
    content: '\e63e';
}
.icon-material-wifi_lock:before {
    content: '\e1e1';
}
.icon-material-wifi_tethering:before {
    content: '\e1e2';
}
.icon-material-work:before {
    content: '\e8f9';
}
.icon-material-wrap_text:before {
    content: '\e25b';
}
.icon-material-youtube_searched_for:before {
    content: '\e8fa';
}
.icon-material-zoom_in:before {
    content: '\e8ff';
}
.icon-material-zoom_out:before {
    content: '\e900';
}